<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="styles/bootstrap.css" rel="stylesheet" />
  <title>Login page</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col align-middle">
      <img src="images/home-page-image.png" class="img-fluid" alt="home-page-image" />
    </div>
    <div class="col pt-5">
      <h1>Please login to the system</h1>
      <form method="POST">
        <div class="container w-75 mt-5 ms-0">
          <div class="mb-3">
            <label for="email-address" class="form-label">Email Address</label>
            <input type="email" name="email" class="form-control" id="email-address" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" />
          </div>
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>