<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <title>Upload page</title>
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <img src="images/upload-image.png" alt="upload-image" class="img-fluid" />
        </div>
        <div class="col">
            <h1>Upload files</h1>
            <% if(typeof message != 'undefined' && status == 'error'){ %>
                <div class="alert alert-dismissible alert-primary">
                    <strong><%= message %></strong>
                </div>
            <% } %>
            <% if(typeof message != 'undefined' && status == 'success'){ %>
                <div class="alert alert-dismissible alert-success">
                    <strong><%= message %></strong>
                </div>
            <% } %>
            <form action="/uploads" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="formFile" class="form-label mt-4">Please enter your file</label>
                    <input type="file" class="form-control" name="fileUpload"  id="formFile">
                </div>
                <button type="submit" class="btn btn-outline-dark mt-3">Upload</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>